################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.log
.vs/SSUrban/v14/.suo
*.manifest
*.cache
.vs/SSUrban/v14/.suo
