USE [master]
GO
/****** Object:  Database [SSUrban]    Script Date: 18/05/2018 22:28:06 ******/
CREATE DATABASE [SSUrban]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SSUrban', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SSUrban.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SSUrban_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SSUrban_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSUrban].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSUrban]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 18/05/2018 22:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Nombre] [nvarchar](200) NULL,
	[Apellidos] [nvarchar](300) NULL,
	[Direccion] [nvarchar](500) NULL,
	[DNI] [nvarchar](10) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Observaciones] [nvarchar](2500) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inmuebles]    Script Date: 18/05/2018 22:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inmuebles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Expediente] [nvarchar](10) NOT NULL,
	[Fecha] [datetime] NULL,
	[Localidad] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Direccion] [nvarchar](500) NULL,
	[Vendedor_Arrendador] [nvarchar](10) NOT NULL,
	[Comprador_Arrendatario] [nvarchar](10) NULL,
	[TipoInmueble] [int] NOT NULL,
	[EstateCounter] [bigint] NOT NULL,
 CONSTRAINT [PK_Inmuebles] PRIMARY KEY CLUSTERED 
(
	[Expediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 18/05/2018 22:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Municipios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoInmuebles]    Script Date: 18/05/2018 22:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoInmuebles](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Counter] [bigint] NOT NULL,
 CONSTRAINT [PK_TipoInmuebles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Inmuebles] ADD  CONSTRAINT [DF_Inmuebles_EstateCounter]  DEFAULT ((0)) FOR [EstateCounter]
GO
ALTER TABLE [dbo].[TipoInmuebles] ADD  CONSTRAINT [DF_TipoInmuebles_Counter]  DEFAULT ((0)) FOR [Counter]
GO
ALTER TABLE [dbo].[Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Inmuebles_Clientes_Vendedor] FOREIGN KEY([Vendedor_Arrendador])
REFERENCES [dbo].[Clientes] ([DNI])
GO
ALTER TABLE [dbo].[Inmuebles] CHECK CONSTRAINT [FK_Inmuebles_Clientes_Vendedor]
GO
ALTER TABLE [dbo].[Inmuebles]  WITH CHECK ADD  CONSTRAINT [FK_Inmuebles_TipoInmuebles] FOREIGN KEY([TipoInmueble])
REFERENCES [dbo].[TipoInmuebles] ([Id])
GO
ALTER TABLE [dbo].[Inmuebles] CHECK CONSTRAINT [FK_Inmuebles_TipoInmuebles]
GO
USE [master]
GO
